{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
<main class="global-container ">
<div class="card-header">
		<h1 class="breadcrumb">Inscription</h1>
        <h2>Les champs signalés par une astérisque * sont obligatoires</h2>
		</div>
		<div class="signin">
			{{ form_start(form) }}
			{{ form_row(form.username) }}{{ form_row(form.email) }}

			{{ form_row(form.avatar) }}
			{{ form_row(form.presentation) }}
			{{ form_row(form.phone) }}
			{{ form_rest(form) }}

			<div
				class="button-container">
				{#<button class="btn btn-outline-primary">{{ button_label|default('Sauvegarder') }}</button>
									</main> #}
				{{ include('user/_form.html.twig') }}
			</div>
<input type="button"  class="btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
</form>
		</div>
		<!-- load JS -->
		<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
		<script src="{{ asset('js/.algo.js') }}"></script>
	</main>


{% endblock %}