{% extends 'base.html.twig' %}
{% block title %}Recyclatroc - FAQ
{% endblock %}
{% block body %}
	<main class="global-container">
		<div class="text-container">
			<h1 class="breadcrumb">A propos de nous
			</h1>
			<h2>
				Foire Aux Questions</h2>
			<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
				Comment accéder aux annonces?</h3>
			<div class="content">
				<p>
					Pour accéder aux fonctionnalités complètes du site vous devez au préalable vous inscrire ici :
					<a class="nav-link" href="{{ path('user_new') }}">Inscription</a>
				</p>
			</div>
			<br>
			<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
				Est-il normal que l’auteur de l’annonce me demande de l’argent?</h3>
			<div class="content">
				<p>
					La communauté Recyclatroc est basée sur la notion de don, aucun membre ne doit donc vous demander de contrepartie financière.
				</p>
			</div>
			<br>
			<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
				Comment modifier mes informations / supprimer mon compte?</h3>
			<div class="content">
				{% if app.user %}
					<p>
						Vous pouvez modifier ou supprimer votre compte depuis votre tableau de bord :</p>

					<a class="nav-link" href="{{ path('user_show', {'id' : app.user.id }) }}">Compte de
						{{ app.user.username }}</a>
				{% else %}
					<p>
						Lorsque vous serez inscrit, vous pourrez modifier ou supprimer votre compte depuis votre tableau de bord "Compte de ..".</p>
				{% endif %}
			</p>
		</div>
		<br>
		<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
				Comment accéder à la liste des annonces que j'ai publiées?</h3>
			<div class="content">
				{% if app.user %}
					<p>
						Vous pouvez y accéder depuis votre tableau de bord via le bouton "Liste de mes annonces" </p>

					<a class="nav-link" href="{{ path('user_show', {'id' : app.user.id }) }}">Mon compte </a>
				{% else %}
					<p>
						Lorsque vous serez inscrit, vous pourrez y accéder depuis votre tableau de bord via le bouton "Liste de mes annonces" </p>
				{% endif %}
			</p>
		</div>
		<br>
		<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
			Comment signaler une annonce inappropriée?</h3>
		<div class="content">
			<p>
				Pour signaler un contenu offensant, des propos ou un comportement inappropriés de la part d’un utilisateur vous pouvez contacter l’administrateur ici :
				<a class="nav-link" href="{{ path('contact') }}">Contact</a>
			</p>
		</div>
		<br>
		<h3 class="text-collapsible"><img class="text-icon" src="{{ asset('images/chat.png') }}">
			Mes données sont-elles bien protégées?</h3>
		<div class="content">
			<p>
				Votre mot de passe est protégé par un algorithme de hashage complexe.
			</p>
			<p>
				Vos données personnelles ne sont pas communiquées, vous pouvez les actualiser à tout moment ou les supprimer.
			</p>
		</div>
		<br>
		<a class="btn btn-outline-dark" href="#top">Haut de page</a>
	    <input type="button"  class="btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
</form>
		<!-- load JS -->
		<script src="{{ asset('js/coll.js') }}"></script>
	</script>
</div></main>{% endblock %}
