{% extends 'base.html.twig' %}

{% block title %}Accueil -
{% endblock %}

{% block body %}
	<main
		class="global-container">
<div  class="header" >		
	<div  class="banner" >
		<img  src="{{ asset('images/recyclatroc.png') }}" alt="logo du site Recylatroc et slogan">
	</div>

	<div  class="banner-right" >
		<h1>Recyclatroc</h1>
		<h2>Recycler c'est simple!</h2>
		<ul>
			<li><p><em>Cliquez</em> pour vous inscrire</p></li>
			<li><p><em>Donnez</em>  les ustensiles dont vous ne vous servez plus</p></li>
			<li><p><em>Recyclez</em>  et dites stop au gaspillage de ressources</p></li>
		</ul>	
	</div>
</div>
		{# for small medias, instead of having a carousel wa print the banner + an informative message#}
		<div   class="alert alert-dismissible alert-secondary blockquote">
			<p >Bienvenue
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{{ app.user.username}}, voici les dernières annonces disponibles.
					{% else %}
					! 
					</p> <p>Pour avoir accès à l'ensemble des produits disponibles ou ajouter des annonces
					<a href="{{ path('app_register') }}">inscrivez-vous</a></p>
					<p class="blockquote-footer">
						Des questions? rendez-vous sur la 
						<a href="{{ path('about') }}">FAQ</a>
					</p>
				{% endif %}
			</p>
		</div>
		{# print the flash message#}
		{% for message in app.flashes('success')%}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		{# in case of absence of products we print a message#}
		{% if products is empty %}
			<p class="alert alert-dismissible alert-warning">Il n'y a pas de produit disponible en ce moment.</p>

		{% else %}
			<p class="blockquote">Dernières annonces publiées</p>
			<ul class="card-list">
				{% for product in products %}
					<div class=" presentation-card mb-3">
						<div class=" card border-primary mb-3" style="max-width: 100% ">
							<h3 class=" card-header">{{ product.name }}</h3>
							<div class="card-body">
								<li>
									<h5 class="card-title">
										Annonce créée par :
										{{ product.user.username }}</h5>
								</li>
							</div>
							<div class="home-picture">
								{% if product.picture  %}
									<img src="{{ asset(product.picture) }}" height="200" alt="image du produit". {{ product.name }}." de l'utilisateur". {{ product.user.username }} >
								{% else %}
									<img style="height: auto; width: 90%;" src="{{asset('images/imageDef.png')}}">
								{% endif %}
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Marque :
									{{ product.brand.name }}</li>
								<li class="list-group-item">Catégorie :
									{{ product.category.name }}</li>
								<li class="list-group-item">
									Lieu(x) :
										{% if  product.city2 == null %}
										{{ product.city }}
									{% else %}
										{{ product.city }}
										ou
										{{ product.city2 }}
									{% endif %}
								</li>
							</ul>
							<div class="card-body">
								<a href="{{ path( 'product_show', { 'id': product.id}) }}" class="card-link">Description</a>
							</div>
							<div class="card-footer text-muted">
								Annonce postée le :
								{{ product.createdAt|date('d M yy ') }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{# END cards#}
	</ul>
	<a class="btn btn-outline-dark" href="#top">Haut de page</a>
	<input type="button"  class="btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
</form>
</main>{% endblock %}
