{% extends 'base.html.twig' %}

{% block title %}Mentions légales -
{% endblock %}

{% block body %}
	<main class="global-container">
		<div class="text-container">
			<h1 class="breadcrumb">Mentions légales
			</h1>
		<h2 class="resp-list">Cliquez sur les blocs pour dérouler</h2>

	<ul>
			<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">
				Identité</li>
			<div class="content">
				<ol class="identity-list">
					<li>Nom du site web : Recyclatroc</li>
					<li>Adresse :
						<a href="”#”">
							http://nomdusite.domaine</a>
					</li>
					<li>Propriétaire, responsable de publication, conception et réalisation : Marion Cartagena, Jean-Michel Cornec, Jérémy Guédé, Coryse Quibel |
						<a href="”#”">
							Contacter…</a>
					</li>
					<li>Hébergement : AWS</li>
				</ol>
			</div>
			<br>
			<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Conditions d’utilisation</li>
			<div class="content">
				<p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après.</p>
				<p>Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.</p>
			</div>
			<br>
			<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">
				Informations</li>
			<div class="content">
				<p>Les informations et documents du site sont présentés à titre indicatif, n’ont pas de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
				<p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.</p>
			</div>
			<br>
			<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Interactivité</li>
			<div class="content">
				<p>Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires).</p>
				<p>Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.</p>
				Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.</p>
		</div>
		<br>
		<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Propriété intellectuelle</li>
		<div class="content">
			<p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage. 1</p>
			<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.23</p>
			<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et poursuivie. 4</p>
			<p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>
		</div>
		<br>
		<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Liens</li>
		<div class="content">
			<ul>
				<li>Liens sortants</li>
				<p>Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.</p>
				<li>Liens entrants</li>
				<p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :
					<ul>
						<li>*tout risque de confusion entre le site citant et le propriétaire du site</li>
						<li>*toute présentation tendancieuse, ou contraire aux lois en vigueur.</li>
					</ul>
				</p>
				<p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>
			</ul>
		</div>
		<br>
		<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Confidentialité</li>
		<div class="content">
			<p>Tout utilisateur dispose d’un droit d’accès, de rectification et de suppressions de ses données personnelles depuis la page "Mon compte".</p>
			<p>Le site ne conserve pas d’informations personnelles, aucune donnée n'est conservée après leur suppression</p>
			<p>Le site n'utilise pas de cookie</p>
		</div>
		<br>
		<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Crédits</li>
		<div class="content">
			<p>Icones, dont 0 de la page "erreur 404" :
				<a href="”https://www.flaticon.com/”">Flaticon</a><br>
				<img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">
				Favicon & Icone made by Coryse avec <a href="https://www.canva.com/fr_fr/">Canva</a><br>
				</p>
			<p>Mentions légales fournies par WebExpress – Version 1.4 – Utilisation libre sous Licence Creative Commons CC BY-NC-ND 3.0 FR / creativecommons.org.</p>
			<p>Thème :
				<a href="https://bootswatch.com/united/">Bootswatch - United
				</a>
			</p>
		</div>
		<br>
		<li class="text-collapsible"><img class="text-icon" src="{{ asset('images/recycla_circle.png') }}" alt="">Notes</li>
		<div class="content">
			<ol>
				<li>
					Articles L111-1 et suivants du Code de la Propriété Intellectuelle du 1er juillet 1992
				</li>
				<li>
					Article 41 de la loi du 11 mars 1957
				</li>
				<li>Article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995
				</li>
				<li>Articles L.335-2 et suivants du Code de Propriété Intellectuelle
				</li>
				<li>Loi n° 78-87 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l’informatique, aux fichiers et aux libertés
				</li>
				<li>Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés
				</li>
				<li>Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données
				</li>
				<li>Loi n° 2004-801 du 6 août 2004
				</li>
				<li>Article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique
				</li>
			</ol>
		</div>
	<ul>
		<a class="btn btn-outline-dark" href="#top">Haut de page</a>
	<input type="button"  class="btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
</form>
		<!-- load JS -->
		<script src="{{ asset('js/coll.js') }}"></script>

	</script>
</div></main>{% endblock %}
