{% extends 'base.html.twig' %}

{% block title %}Recyclatroc - Annonce
{% endblock %}

{% block body %}
	<main class="global-container">
		<div class="card-header">
			<h1 class="breadcrumb">Modification d'une annonce</h1>
		</div>
		<div class="signin">
			{{ form_start(form) }}
			{{ form_row(form.name) }}
			{{ form_row(form.reference)}}
			{{ form_row(form.picture)}}
			{{ form_row(form.comment)}}
			{{ form_row(form.category)}}
			{{ form_row(form.brand) }}
			{#{{ form_row(form.location, {'id':'city', 'attr':{'class':'form-control'} }) }}
			{#<input type="search" id="city" class="form-control" placeholder="Entrez votre ville ou votre code postal" />#}
{# render each row and field in the embedded form, in this example it's rendering the experience (Location) fields as rows #}
				<div class="col-sm-8 col-sm-offset-2" id="location_list" data-prototype="{{ form_widget(form.location.vars.prototype)|e('html_attr') }}">
						{% for row in form.location %}
							<div class="panel panel-warning">
								<div class="panel-heading">
									<strong>{{ row.vars.value.city}}</strong>
								</div>
								<div class="panel-body">
									{{ form_row(row) }}
								</div>
						</div>
						{% endfor %}
				</div>

			<div
				class="button-container">
			{{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
			{{ include('product/_delete_form.html.twig') }}
					
			</button>
			</div>

		</div>
	<input type="button"  class="btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
</form>
	</main>
			<!-- load JS and JQuery -->
		<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
		<script src="{{ asset('js/algo.js') }}"></script>
		<script    src="https://code.jquery.com/jquery-2.2.4.min.js"
             integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
             crossorigin="anonymous"></script>
	<script src="{{ asset('js/formCollection.js') }}"></script>
{% endblock %}
